
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* transition: all 0.4s ease;; */
    transition: all;
}


/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #fafafb;
    --side-nav: #010718;
    --text-color: #000000;

}

body{
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #ffffff;
    
}
.dark{
    color: #fff;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 10% 0 19%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}


.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

/* .nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
} */


.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

button {
    border-radius: 10px;
    background-color: #476a4d;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 23px;
    padding: 12px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
  }
  
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  button:hover:after {
    opacity: 1;
    right: 10px;
  }


@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}
 /* ======================================================================= */

.img1{
    width: 380px;
    
}

.section1{
    padding-top: 10%;
    margin-left: 4%;
}

h1{
    font-size: 60px;
}

.heroparagraph{
    font-size: 20px;
}

.div1{
    float: left;
    padding-left: 10%;
}

.div2{
    float: right;
    padding-right: 5%;
    /* padding-bottom: 10%; */
}

/* ====================================================================== */

.img2 {
    width: 380px;
  }

.img2:hover{
    transform: scale(1.2);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 2rem;
  }

  .section2{
    padding-top: 10%;
    margin-left: 4%;
}

.swipparagraph2{
    font-size: 20px;
}

.swipparagraph1{
    font-size: 40px;
}

.img3{
    width: 380px;
}

.section3{
    background-color: rgb(217, 191, 185);
    padding-top: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.disover-button{
    border-radius: 10px;
    background-color: #476a4d;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 21px;
}

/* ===========================   image gallary    ============================= */




.button-group { 
    text-align: center; 
    margin-bottom: 40px;
}

.btn{
    padding: 10px 20px;
    background: #333; 
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
}
.btn.on{
    background: #08f;
}

.products_container {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 4rem 6rem;
    justify-content: center;
    padding-top: 5rem;
  }
  
.products_card {
    display: grid;
    position: relative;
  }
  
.products_card:hover .products_img {
    transform: translateY(-13px);
  }
  
.products_images {
    position: relative;
    justify-self: center;
  }
  
.products_img {
    width: 150px;
    justify-self: center;
    margin-bottom: var(--mb-1);
    transition: 0.3s;
  }
  
.products_price {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

.products_title{
    font-size: large;
  }

.section-title{
    text-align: center;
    font-size: 30px;
  }

  /* ============================ questions ================================== */

.section5 {
    padding-top: 8%;
    margin-left: 15%;
  }

.faq-content {
    margin: 0 auto;
  }
  
  .faq-question {
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
  }
  
.panel-title {
    font-size: 24px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
  }
  
.panel-content {
    font-size: 20px;
    padding: 0px 14px;
    margin: 0 40px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    transition: .4s ease;
  }
  
.panel:checked ~ .panel-content{
    height: auto;
    opacity: 1;
    padding: 14px;
  }
  
.plus {
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    z-index: 5;
    font-size: 42px;
    line-height: 100%;
    transition: .2s ease;
  }
  
.panel:checked ~ .plus {
    transform: rotate(45deg);
  }
  
.panel {
    display: none;
  }

  /* ========================= team ============================= */

  
  .team_container {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 4rem 6rem;
    justify-content: center;
    padding-top: 5rem;
  }

#products{
    padding-top: 5%;
}

.team_card {
    display: grid;
    position: relative;
  }
  
/* .team_card:hover .team_img {
    transform: translateY(-13px);
  } */

  .team_img:hover{
    transform: scale(0.9);
  }
  
.team_images {
    position: relative;
    justify-self: center;
  }
  
.team_img {
    width: 229px;
    justify-self: center;
    margin-bottom: var(--mb-1);
    transition: 0.3s;
  }
  
.team_para {
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-align: justify;
  }

.team_title{
    font-size: 25px;
    text-align: center;
  }

.section-title{
    text-align: center;
    font-size: 30px;
  }


/* ================================== contact form =============================== */


.contact__container {
  display: grid;
  grid-template-columns: repeat(2, 500px);
}

#contact{
  margin-top: 6%;
  padding-left: 25%;
}

.location_img{
  size: 15px;
}

.contact__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
}

.contact__data {
  display: grid;
  gap: 2rem;
}

.contact__info-title {
  margin-bottom: var(--mb-0-5);
}

.contact__info-subtitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: var(--font-bold);
  color: var(--title-color);
}

.contact__info-subtitle i {
  font-weight: var(--font-bold);
  font-size: 1.2rem;
}

.contact__inputs {
  display: grid;
  row-gap: 2rem;
  margin-bottom: var(--mb-2-5);
}

.contact__content {
  position: relative;
  height: 3rem;
  border-bottom: 1px solid var(--text-color);
}

.contact__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;
  color: var(--text-color);

  z-index: 1;
}

.contact__label {
  position: absolute;
  top: 0.75rem;
  left: 0;
  width: 100%;
  color: var(--text-color-light);
  transition: 0.3s;
}

.contact__area {
  height: 7rem;
}

textarea {
  resize: none;
}

/*Input focus move up label*/
.contact__input:focus + .contact__label {
  top: -0.75rem;
  font-size: var(--small-font-size);
}

/*Input focus sticky top label*/
.contact__input:not(:placeholder-shown).contact__input:not(:focus)
  + .contact__label {
  top: -0.75rem;
  font-size: var(--small-font-size);
}

/* ================================== map =============================== */

#map{
  height: 50vh;
  width: 100%;
  padding-left: 250px;
  padding-right: 250px;
  /* padding-top:30px; */
  margin-top: 5%;
}

/* ================================== footer =============================== */




.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 55px 50px;
  margin-top: 6%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 50px, cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}



/* ======================= image gallery css  ========================*/
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
    align-items: center;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    color: #162515;
    margin-bottom: 30px;
    color: #ffffff;
}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.products_containers{
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 4rem 10rem;
  justify-content: center;
  padding-top: 5rem;
}

.imagetitles{
  grid-template-columns: repeat(3, 220px);
  padding-left: 20%;
}

.containerimg{
  padding-left: 5%;
}


/* ============================ end image gallery ========================== */